
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }

</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative game-details">
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10 mb-6 mb-md-0">
                    <div class="main-content mt-15">
                        <div class="playing-now p-3 px-4 d-flex flex-wrap gap-6 gap-sm-10">
                            <div class="active-now pe-15 online">
                                <span>Online</span>
                                <h2>19,302,927</h2>
                            </div>
                            <div class="active-now now ">
                                <span>Playing Now</span>
                                <h2>4,831,224</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="btn-area position-absolute pe-5 pe-md-0 bottom-0 mb-10 end-0 alt-bg mt-5 mt-sm-10 d-flex flex-wrap gap-6 align-items-center">
                        <a href="@Url.Action("PageHome","Home")" class="box-style btn-box d-center">
                            Play Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Top features start -->
    <section class="our-games bg-transparent top-features pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="d-grid gap-15">
                        <div class="single-content">
                            <h2 class="visible-slowly-bottom display-four mb-5">Ready to Become a Dragon Master?</h2>
                            <p class="mb-3">
                                Take on the hottest dragon game and collect tons of adorable fire-breathing
                                dragons! Train them to your will, grow your collection, and prove your might to claim
                                the title of top Dragon Master in the world!
                            </p>
                            <p>
                                Play on all devices and take your baby dragons wherever you go! Available on Windows,
                                iOS, and Android.Play through thousands of relaxing levels, team up with your friends in
                                Clubs, and win prizes in daily events.
                            </p>
                        </div>
                        <div class="single-content">
                            <h3 class="visible-slowly-bottom mb-3">Top Features:</h3>
                            <ul class="ms-10 d-grid gap-4">
                                <li>  Thousands of levels across multiple worlds</li>
                                <li>Challenging gameplay to train your brain</li>
                                <li>Club Tournaments and other exciting ways to play with friends</li>
                                <li>Daily events to help you win more prizes</li>
                                <li>Free rewards every day</li>
                            </ul>
                        </div>
                        <div class="single-content">
                            <h3 class="visible-slowly-bottom mb-3">Gaming Awards:</h3>
                            <div class="d-flex gap-3">
                                <div class="single-icon">
                                    <img src="~/assets/images/aword-1.png" alt="icon">
                                </div>
                                <div class="single-icon">
                                    <img src="~/assets/images/aword-1.png" alt="icon">
                                </div>
                                <div class="single-icon">
                                    <img src="~/assets/images/aword-1.png" alt="icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-10 mt-8 mt-lg-0">
                    <div class="single-box tab-content position-relative text-center p-3 p-md-15">
                        <div class="main-content py-4">
                            <span class="feature-tag d-none d-sm-flex d-center position-absolute">Feature</span>
                            <h3 class="visible-slowly-bottom mb-4">Download Now</h3>
                            <ul class="d-flex flex-wrap mb-6 fs-seven align-items-center gap-5 gap-md-10">
                                <li>Horror Adventure</li>
                                <li>Mobile</li>
                                <li>Action RPG</li>
                                <li>PC</li>
                            </ul>
                            <div class="review-box mt-5 mt-md-8 mb-6 mb-md-10 w-100 p-2 p-sm-4 d-center gap-3 justify-content-evenly">
                                <div class="single-area">
                                    <div class="d-flex gap-1 align-items-center mb-1">
                                        <i class="fa-regular fa-star"></i>
                                        <h4 class="fs-four">4.5</h4>
                                    </div>
                                    <p class="fs-seven">5.2M Reviews</p>
                                </div>
                                <div class="single-area">
                                    <h4 class="fs-four mb-1">500M+</h4>
                                    <p class="fs-seven">Downloads</p>
                                </div>
                            </div>
                            <div class="app-download pb-4 pb-sm-8 mb-4 mb-sm-8 d-grid gap-3 gap-sm-5 align-items-center">
                                <div class="d-flex gap-3 gap-sm-5">
                                    <a href="https://www.apple.com/app-store/" class="w-100">
                                        <img src="~/assets/images/appstore.png" class="w-100" alt="Image">
                                    </a>
                                    <a href="https://play.google.com/" class="w-100">
                                        <img src="~/assets/images/googleplay.png" class="w-100" alt="Image">
                                    </a>
                                </div>
                                <div class="d-flex gap-3 gap-sm-5">
                                    <a href="https://www.amazon.com/" class="w-100">
                                        <img src="~/assets/images/amazonstore.png" class="w-100" alt="Image">
                                    </a>
                                    <a href="https://www.getteam.com/" class="w-100">
                                        <img src="~/assets/images/getteam.png" class="w-100" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <p>Game includes optional in-app purchases</p>
                        </div>
                    </div>
                    <div class="social-items text-center">
                        <h5 class="mb-4">Follow our Dragons on</h5>
                        <ul class="d-flex justify-content-center gap-4 social-area">
                            <li>
                                <a href="https://www.facebook.com" aria-label="Facebook" class="d-center">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" aria-label="Instagram" class="d-center">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" aria-label="Linkedin" class="d-center">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com" aria-label="Twitter" class="d-center">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Top features end -->

    <section class="our-focus bg-transparent game-trailers position-relative overflow-hidden pt-120">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/line-1.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/object-1.png" class="shape-2" alt="icon">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-text text-center">
                        <h4 class="sub-title">Game <span>Trailers</span></h4>
                        <span class="fs-two heading mb-6">
                            Our games build worlds, connect communities, and entertain
                            billions.
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="position-relative d-center">
                        <img src="~/assets/images/video-bg.png" class="w-100" alt="sec-img">
                        <div class="circle-text position-absolute">
                            <div class="text">
                                <p><span style="transform:rotate(0deg)">W</span><span style="transform:rotate(10deg)">a</span><span style="transform:rotate(20deg)">t</span><span style="transform:rotate(30deg)">c</span><span style="transform:rotate(40deg)">h</span><span style="transform:rotate(50deg)"> </span><span style="transform:rotate(60deg)">t</span><span style="transform:rotate(70deg)">h</span><span style="transform:rotate(80deg)">e</span><span style="transform:rotate(90deg)"> </span><span style="transform:rotate(100deg)">v</span><span style="transform:rotate(110deg)">i</span><span style="transform:rotate(120deg)">d</span><span style="transform:rotate(130deg)">e</span><span style="transform:rotate(140deg)">o</span><span style="transform:rotate(150deg)"> </span><span style="transform:rotate(160deg)">*</span><span style="transform:rotate(170deg)"> </span><span style="transform:rotate(180deg)">W</span><span style="transform:rotate(190deg)">a</span><span style="transform:rotate(200deg)">t</span><span style="transform:rotate(210deg)">c</span><span style="transform:rotate(220deg)">h</span><span style="transform:rotate(230deg)"> </span><span style="transform:rotate(240deg)">t</span><span style="transform:rotate(250deg)">h</span><span style="transform:rotate(260deg)">e</span><span style="transform:rotate(270deg)"> </span><span style="transform:rotate(280deg)">v</span><span style="transform:rotate(290deg)">i</span><span style="transform:rotate(300deg)">d</span><span style="transform:rotate(310deg)">e</span><span style="transform:rotate(320deg)">o</span><span style="transform:rotate(330deg)"> </span><span style="transform:rotate(340deg)">*</span></p>
                            </div>
                            <a href="https://www.youtube.com/watch?v=IaT4DneyKLc" class="box-style btn-box-second heading-five fs-five mfp-iframe popupvideo text-uppercase d-center position-absolute" style="--x: 107px; --y: 135px;">
                                <i class="fa-solid fa-play fs-three"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Ongoing Values start -->
    <section class="gaming-character ongoing-values bg-transparent gallery pt-120">
        <div class="container">
            <div class="row section-text justify-content-center">
                <div class="col-lg-7 text-center">
                    <span class="fs-two heading">Gallery</span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-lg-12">
                    <div class="gallery-carousel">
                        <div class="slide-area">
                            <div class="single-slider">
                                <img src="~/assets/images/gallery-img-10.png" alt="gallery">
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider">
                                <img src="~/assets/images/gallery-img-11.png" alt="gallery">
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider">
                                <img src="~/assets/images/gallery-img-12.png" alt="gallery">
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider">
                                <img src="~/assets/images/gallery-img-13.png" alt="gallery">
                            </div>
                        </div>
                        <div class="slide-area">
                            <div class="single-slider">
                                <img src="~/assets/images/gallery-img-12.png" alt="gallery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Ongoing Values end -->
    <!-- join our community start -->
    <section class="join-our-community pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="main-content p-10 p-sm-15">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6">
                                <div class="mb-5 mb-sm-10">
                                    <h2 class="visible-slowly-bottom mb-4">Join other King of Jungle!</h2>
                                    <p>
                                        We are a community of millions of King og Jungle. If you're up for a challenge,
                                        join us and become #1 in the world!
                                    </p>
                                </div>
                                <div class="social-items">
                                    <h5 class="mb-4">Follow our Dragons on</h5>
                                    <ul class="d-flex gap-4 social-area">
                                        <li>
                                            <a href="https://www.facebook.com" aria-label="Facebook" class="d-center">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com" aria-label="Instagram" class="d-center">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com" aria-label="Linkedin" class="d-center">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com" aria-label="Twitter" class="d-center">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="sec-img">
                                    <img src="~/assets/images/community-illus.png" alt="illus">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- join our community end -->
    <!-- Recently Completed start -->
    <section class="recently-completed">
        <div class="container pt-120 pb-120">
            <div class="row section-header justify-content-between align-items-center">
                <div class="col-lg-8">
                    <h2 class="visible-slowly-bottom sub-title">Other Games you might like</h2>
                    <p>
                        Join the revolution in gaming and experience the thrill of the game like never before, with our
                        advanced technology and dynamic gameplay.
                    </p>
                </div>
                <div class="col-lg-3 mt-8 mt-lg-0 btn-movement">
                    <a href="javascript:void(0)" class="box-style d-center px-3 gap-3 m-auto">
                        View All Project
                        <i class="fa-solid fa-up-long"></i>
                    </a>
                </div>
            </div>
            <div class="row cus-mar our-games bg-transparent justify-content-center">
                <div class="col-md-6">
                    <div class="single-box">
                        <div class="position-relative d-center">
                            <span class="feature-tag start d-center position-absolute">Feature</span>
                            <img src="~/assets/images/game-image-2.png" class="w-100 thumb-img" alt="sec-img">
                            <a href="https://www.youtube.com/watch?v=IaT4DneyKLc"
                               class="box-style btn-box-second heading-five fs-five mfp-iframe popupvideo text-uppercase d-center position-absolute">
                                Play
                            </a>
                        </div>
                        <div class="info-area position-relative p-3 p-lg-5">
                            <div class="d-flex align-items-end gap-4 gap-sm-8">
                                <div class="img-area">
                                    <img src="~/assets/images/review-img-2.png" alt="image">
                                </div>
                                <div class="info-area">
                                    <a href="game-details.html">
                                        <h3 class="visible-slowly-bottom mb-4">Crazy Wild</h3>
                                    </a>
                                    <ul class="d-flex flex-wrap fs-seven align-items-center gap-5 gap-md-10">
                                        <li>Horror Adventure</li>
                                        <li>Mobile</li>
                                        <li>Action RPG</li>
                                        <li>PC</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-box mt-5 mt-md-8 mb-6 mb-md-10 w-100 p-2 p-sm-4 d-center gap-3 justify-content-between">
                                <div class="single-area d-flex align-items-center gap-2">
                                    <div class="d-flex gap-2 align-items-center mb-1">
                                        <i class="fa-regular fa-star"></i>
                                        <h4 class="fs-four">4.5</h4>
                                    </div>
                                    <p class="fs-seven">5.2M Reviews</p>
                                </div>
                                <div class="single-area d-grid d-sm-flex gap-2 align-items-center">
                                    <h4 class="fs-four mb-1">500M+</h4>
                                    <p class="fs-seven">Downloads</p>
                                </div>
                            </div>
                            <div class="app-download d-flex gap-4 align-items-center">
                                <a href="https://www.apple.com/app-store/" class="w-100">
                                    <img src="~/assets/images/appstore.png" class="w-100" alt="Image">
                                </a>
                                <a href="https://play.google.com/" class="w-100">
                                    <img src="~/assets/images/googleplay.png"
                                         class="w-100" alt="Image">
                                </a>
                                <a href="https://www.amazon.com/" class="w-100">
                                    <img src="~/assets/images/amazonstore.png"
                                         class="w-100" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-box">
                        <div class="position-relative d-center">
                            <span class="feature-tag start d-center position-absolute">Feature</span>
                            <img src="~/assets/images/game-image-2.png" class="w-100 thumb-img" alt="sec-img">
                            <a href="https://www.youtube.com/watch?v=IaT4DneyKLc"
                               class="box-style btn-box-second heading-five fs-five mfp-iframe popupvideo text-uppercase d-center position-absolute">
                                Play
                            </a>
                        </div>
                        <div class="info-area position-relative p-3 p-lg-5">
                            <div class="d-flex align-items-end gap-4 gap-sm-8">
                                <div class="img-area">
                                    <img src="~/assets/images/review-img-2.png" alt="image">
                                </div>
                                <div class="info-area">
                                    <a href="game-details.html">
                                        <h3 class="visible-slowly-bottom mb-4">Crazy Wild</h3>
                                    </a>
                                    <ul class="d-flex flex-wrap fs-seven align-items-center gap-5 gap-md-10">
                                        <li>Horror Adventure</li>
                                        <li>Mobile</li>
                                        <li>Action RPG</li>
                                        <li>PC</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review-box mt-5 mt-md-8 mb-6 mb-md-10 w-100 p-2 p-sm-4 d-center gap-3 justify-content-between">
                                <div class="single-area d-flex align-items-center gap-2">
                                    <div class="d-flex gap-2 align-items-center mb-1">
                                        <i class="fa-regular fa-star"></i>
                                        <h4 class="fs-four">4.5</h4>
                                    </div>
                                    <p class="fs-seven">5.2M Reviews</p>
                                </div>
                                <div class="single-area d-grid d-sm-flex gap-2 align-items-center">
                                    <h4 class="fs-four mb-1">500M+</h4>
                                    <p class="fs-seven">Downloads</p>
                                </div>
                            </div>
                            <div class="app-download d-flex gap-4 align-items-center">
                                <a href="https://www.apple.com/app-store/" class="w-100">
                                    <img src="~/assets/images/appstore.png" class="w-100" alt="Image">
                                </a>
                                <a href="https://play.google.com/" class="w-100">
                                    <img src="~/assets/images/googleplay.png"
                                         class="w-100" alt="Image">
                                </a>
                                <a href="https://www.amazon.com/" class="w-100">
                                    <img src="~/assets/images/amazonstore.png"
                                         class="w-100" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recently Completed end -->
</body>
</html>
