
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }
</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative store">
        <div class="shape-area">
            <img src="assets/images/abs-items/bubble.png" class="shape-1" alt="icon">
            <img src="assets/images/abs-items/ellipse-7.png" class="shape-2" alt="icon">
        </div>
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="main-content">
                        <h2 class="visible-slowly-bottom display-four mb-4">
                            <span>
                                Get in touch with our friendly
                                team
                            </span>
                        </h2>
                        <p class="fs-four">
                            Our support goes all the way. We love hearing from customers and
                            visitors and are always happy to help.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="breadcrumb-area position-absolute end-0 bottom-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 py-3 px-8 fs-six d-flex align-items-end justify-content-end">
                                <li class="breadcrumb-item p-0 m-0"><a href="@Url.Action("PageHome","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Contact Us start -->
    <section class="contact-us bg-transparen pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h4 class="sub-title">Have <span>Questions?</span></h4>
                        <span class="fs-two heading mb-6">
                            Can’t find what are <span>you Looking for</span> ? Get
                            in Touch
                        </span>
                        <p>
                            Please fill out the form and let us know about your concerns.We will try our best to
                            provide optimized solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <form action="#" class="p-4 p-sm-8">
                        <h3>Write A Message</h3>
                        <div class="form-inside mt-6 p-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" placeholder="Enter Your Name" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" placeholder="Enter your email" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="subject">Subject</label>
                                        <input type="text" id="subject" placeholder="Enter Subject" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-input text-start">
                                        <label for="message">Leave us a message</label>
                                        <textarea cols="4" rows="4" id="message"
                                                  placeholder="Please type your Message here..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-4">
                                    <div class="btn-area">
                                        <button class="box-style btn-box">

                                            Send Massage
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 mt-7 mt-lg-0">
                    <div class="py-8 py-sm-15 px-3 px-sm-6 get-in-touch">
                        <h3>Get in Touch</h3>
                        <div class="single-content d-grid mt-5 mt-sm-10">
                            <div class="single-content d-grid py-5 py-sm-7 gap-3 gap-sm-5">
                                <div class="check d-center justify-content-start gap-3">
                                    <i class="fa-solid fa-phone"></i>
                                    <h4>Have any Questions</h4>
                                </div>
                                <p class="d-flex gap-5">
                                    <span>(302) 555-0107</span>
                                    <span>(704) 555-0127</span>
                                </p>
                            </div>
                            <div class="single-content d-grid py-5 py-sm-8 gap-2">
                                <div class="check d-center justify-content-start gap-3">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h4>Contact Address</h4>
                                </div>
                                <p class="d-flex">
                                    <span>(302) 555-0107</span>
                                </p>
                            </div>
                            <div class="single-content d-grid py-5 py-sm-8 gap-2">
                                <div class="check d-center justify-content-start gap-3">
                                    <i class="fa-solid fa-clock"></i>
                                    <h4>Opening Hours</h4>
                                </div>
                                <p class="d-flex">
                                    <span>(302) 555-0107</span>
                                </p>
                            </div>
                        </div>
                        <ul class="d-flex justify-content-center gap-4 social-area py-4 py-sm-8 mt-5 mt-sm-10">
                            <li>
                                <a href="https://www.facebook.com" aria-label="Facebook" class="d-center">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" aria-label="Instagram" class="d-center">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" aria-label="Linkedin" class="d-center">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com" aria-label="Twitter" class="d-center">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us end -->
    <!-- Map Section start -->
    <section class="map-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d142723.46117209745!2d-122.36259993497053!3d37.7719269407752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1677037248094!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Section end -->
    <!-- Faq Section start -->
    <section class="faqs-section position-relative">
        <div class="shape-area">
            <img src="assets/images/abs-items/faq-frame.png" class="shape-1" alt="icon">
            <img src="assets/images/abs-items/faq-frame.png" class="shape-2" alt="icon">
        </div>
        <div class="overlay pt-120 pb-120">
            <div class="container position-relative cus-z1">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h4 class="sub-title">
                                Answers to Common Questions about <span>Our Company</span>
                            </h4>
                            <span class="fs-two heading mb-6">
                                Frequently Asked Questions About <span>
                                    Our Gaming
                                    Studio
                                </span>
                            </span>
                            <p>
                                Our gaming company develops games for multiple platforms and is always looking
                                for talented individuals to join our team. Quality and player satisfaction is
                                our top priority.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-7 col-lg-7">
                        <div class="accordion" id="accordionFaqs">
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        What services does GameStorm offer for game development?
                                    </button>
                                </h5>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How does GameStorm handle project management during game development?
                                    </button>
                                </h5>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        How does GameStorm ensure the game art matches the overall vision and
                                        design of the game?
                                    </button>
                                </h5>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        What is GameStorm's approach to testing and quality assurance during
                                        game development?
                                    </button>
                                </h5>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        How does GameStorm handle player feedback and make changes to the game
                                        during development?
                                    </button>
                                </h5>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="headingsix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                        How does GameStorm ensure the games it develops are optimized for
                                        performance and stability?
                                    </button>
                                </h5>
                                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix"
                                     data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>
                                            GameStorm offers a full range of services for game development,
                                            including game art, design, programming, and project management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 mt-8 mt-lg-0">
                        <div class="faq-bg py-15 px-8 text-center">
                            <div class="icon-area">
                                <img src="assets/images/faq-icon.png" alt="Image">
                            </div>
                            <h3 class="visible-slowly-bottom py-5">Check More Information</h3>
                            <p>
                                GameStorm is a full-service gaming studio company specializing in game
                                development, art, design, and project management
                            </p>
                            <div class="btn-area">
                                <div class="btn-area mt-8 alt-bg">
                                    <a href="@Url.Action("PageAbout","Home")" class="box-style btn-box d-center">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section end -->
    <!-- our partners start -->
    <section class="our-partners bg-transparent pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h4 class="sub-title"><span>Trusted</span> By</h4>
                        <span class="fs-two heading mb-6">
                            We are happy to work with <span>
                                global largest
                                brands
                            </span>
                        </span>
                        <p>We are proud to support industry leaders around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="all-items mb-7 d-flex gap-3 justify-content-between flex-wrap">
                        <div class="thumb">
                            <img src="assets/images/brand-logo-1.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-2.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-3.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-4.png" alt="Image">
                        </div>
                    </div>
                    <div class="all-items d-flex gap-3 justify-content-between flex-wrap">
                        <div class="thumb">
                            <img src="assets/images/brand-logo-5.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-6.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-7.png" alt="Image">
                        </div>
                        <div class="thumb">
                            <img src="assets/images/brand-logo-3.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our partners end -->
</body>
</html>
