
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }
</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative about">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/bubble.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/ellipse-7.png" class="shape-2" alt="icon">
        </div>
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="main-content">
                        <h2 class="visible-slowly-bottom display-four mb-6">terms <span>conditions</span></h2>
                        <p class="fs-four">
                            We're always looking for new ways to provide privacy for our
                            customers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="breadcrumb-area position-absolute end-0 bottom-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 py-3 px-8 fs-six d-flex align-items-end justify-content-end">
                                <li class="breadcrumb-item p-0 m-0"><a href="@Url.Action("PageHome","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Terms Conditions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Privacy Content In start -->
    <section class="privacy-content terms">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="top-wrapper">
                            <h4>We're always looking for new ways to provide privacy for our customers.</h4>
                            <p>
                                Id ipsum mi tempor eget. Pretium consectetur scelerisque blandit habitasse non
                                ullamcorper enim, diam quam id et, tempus massa. Sed nam vulputate pellentesque
                                quis.
                                Varius a, nunc faucibus proin elementum id odio auctor.
                                Nunc, suspendisse consequat libero, pharetra tellus vulputate auctor venenatis
                                tortor
                                non rhoncus at duis. Pharetra ipsum mauris integer sit feugiat.
                            </p>
                            <ul>
                                <li>— Blandit dignissim nulla varius tristique a sed integer ut tempor.</li>
                                <li>— Augue interdum semper bibendum amet sed.</li>
                                <li>— Dis in at ultricies tortor sit tellus.</li>
                                <li>— Habitant ornare aenean maecenas pretium</li>
                            </ul>
                            <p>
                                Eget purus aenean sit risus. Arcu, aliquam eget et viverra risus purus. Commodo
                                fames
                                tristique dui pharetra elit aliquet morbi. Eget consectetur risus nunc lorem sit
                                consequat aliquet. Dolor velit consectetur etiam scelerisque. Integer interdum
                                sodales
                                scelerisque diam massa quam sit quis. Sed et dui a nam pulvinar. Tristique
                                justo, donec
                                lectus vitae, cursus ligula ridiculus lacus, tincidunt. Diam dictumst faucibus
                                dui
                                aliquet aenean nascetur feugiat leo. Etiam dignissim orci dignissim vitae.
                            </p>
                            <div class="safe-data">
                                <h4>
                                    Your data is safe with us, we will not share any information with external
                                    sources.
                                </h4>
                                <p>
                                    Blandit dignissim nulla varius tristique a sed integer ut tempor. Augue
                                    interdum
                                    semper bibendum amet sed. Dis in at ultricies tortor sit tellus. Habitant
                                    ornare
                                    aenean maecenas pretium, dui ullamcorper quis. Egestas viverra et id aliquet
                                    faucibus rhoncus a. Sollicitudin nisl nulla tempor pretium lorem at mauris
                                    faucibus
                                    pulvinar.
                                </p>
                                <ul>
                                    <li>
                                        Eget purus aenean sit risus. Arcu, aliquam eget et viverra risus purus.
                                        Commodo
                                        fames tristique dui pharetra elit aliquet morbi.
                                    </li>
                                    <li>
                                        Eget consectetur risus nunc lorem sit consequat aliquet. Dolor velit
                                        consectetur
                                        etiam scelerisque.
                                    </li>
                                    <li>
                                        Integer interdum sodales scelerisque diam massa quam sit quis. Sed et
                                        dui a nam
                                        pulvinar. Tristique justo, donec lectus vitae, cursus ligula ridiculus
                                        lacus,
                                        tincidunt.
                                    </li>
                                    <li>
                                        Diam dictumst faucibus dui aliquet aenean nascetur feugiat leo. Etiam
                                        dignissim.
                                    </li>
                                    <li>
                                        Aliquam eget et viverra risus purus. Commodo fames tristique dui
                                        pharetra elit
                                        aliquet morbi.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Content In end -->
</body>
</html>
