
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }
</head>
<body>
    <!-- Banner-section start -->
    <section class="banner-section inner-banner position-relative about career">
        <div class="shape-area">
            <img src="~/assets/images/abs-items/bubble.png" class="shape-1" alt="icon">
            <img src="~/assets/images/abs-items/ellipse-7.png" class="shape-2" alt="icon">
        </div>
        <div class="container position-relative">
            <div class="banner-content row justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="main-content">
                        <h2 class="visible-slowly-bottom display-four mb-6">
                            Join a <span class="d-inline">
                                team
                                of passionate
                            </span> people
                        </h2>
                        <p class="fs-four">
                            we are always building towards an efficient and collaborative team of
                            the best game developers around.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 d-grid align-items-end justify-content-end">
                    <div class="breadcrumb-area position-absolute end-0 bottom-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 py-3 px-8 fs-six d-flex align-items-end justify-content-end">
                                <li class="breadcrumb-item p-0 m-0"><a href="@Url.Action("PageHome","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Career</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-section end -->
    <!-- Job Opens start -->
    <section class="job-opens details pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-7 col-lg-7">
                    <div class="content-wrapper d-grid gap-4 gap-sm-8">
                        <div class="d-flex gap-6 align-items-center">
                            <div class="end-area">
                                <span class="fs-seven p-1 px-2">3D Artist</span>
                            </div>
                            <ul class="d-flex gap-6">
                                <li class="d-flex align-items-center gap-2">
                                    <<i class="fa-solid fa-bag-shopping"></i>
                                    <span class="fs-seven">Full Time</span>
                                </li>
                                <li class="d-flex align-items-center gap-2">
                                    <i class="fa-solid fa-clock"></i>
                                    <span class="fs-seven">Full Time</span>
                                </li>
                            </ul>
                        </div>
                        <div class="single-content mb-8">
                            <h2 class="visible-slowly-bottom display-four mb-2">3D Artist</h2>
                            <p>
                                We are looking for a 3D Artist to visualize ideas into vibrant and colorful 3D
                                ~/assets that will meet with a very broad audience. You will work in direct
                                contact with product and development teams to produce environments, characters,
                                props, and other visual elements for our games.
                            </p>
                        </div>
                        <div class="single-content">
                            <h3 class="visible-slowly-bottom mb-3">About Us</h3>
                            <p>
                                We are looking for a 3D Artist to visualize ideas into vibrant and colorful 3D
                                ~/assets that will meet with a very broad audience. You will work in direct
                                contact with product and development teams to produce environments, characters,
                                props, and other visual elements for our games.
                            </p>
                        </div>
                        <div class="single-content">
                            <h3 class="visible-slowly-bottom mb-3">About You</h3>
                            <ul class="ms-4 d-grid gap-1">
                                <li>Create 3D models, textures, and materials for mobile games,</li>
                                <li>
                                    Visually participating in the game development process in a versatile way
                                    with the game designer and art team lead,
                                </li>
                                <li>Rigging for animation and animate humanoid characters,</li>
                                <li>Keeping up to date on the latest trends,</li>
                                <li>
                                    Bachelor's Degree in 3D Animation, Animation, Fine Arts or related field,
                                </li>
                                <li>
                                    Proficient experience in Blender or Maya, Photoshop, and Substance Painter,
                                </li>
                                <li>
                                    Proficient experience in 3D Modeling, Animation, Rigging, UV-Mapping,
                                    Texturing, 2D painting, and compositing,
                                </li>
                                <li>Intermediate knowledge of Unity,</li>
                                <li>Delivering low-poly 3D models for mobile platforms,</li>
                                <li>Working experience with hyper-casual games is a plus,</li>
                                <li>
                                    Digital art skills besides traditional art skills including knowledge of
                                    composition, layout, lighting, color theory,
                                </li>
                                <li>Interest in the agile working environment,</li>
                                <li>Enthusiastic about self-improvement and learning new tools,</li>
                                <li>Passion for creating and playing mobile games,</li>
                            </ul>
                        </div>
                        <div class="single-content">
                            <h3 class="visible-slowly-bottom mb-3">Why Join Us?</h3>
                            <ul class="ms-4 d-grid gap-1">
                                <li>Competitive salary,</li>
                                <li>Health insurance,</li>
                                <li>Continuous learning with mentorship, coaching,</li>
                                <li>Happy hours and team motivational events,</li>
                                <li>Fully Remote working option.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 mt-8 mt-lg-0 alt-bg">
                    <div class="apply-area cus-scrollbar text-center py-15 px-8">
                        <div class="icon-box mb-6 mb-sm-10 d-inline-flex d-center">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class="section-text">
                            <h2 class="visible-slowly-bottom mb-3">Apply for the position now!</h2>
                            <span>Join a growing team in a dynamic environment.</span>
                        </div>
                        <div class="btn-area">
                            <div class="btn-area mt-5 mt-sm-8 flex-wrap gap-6 d-center">
                                <a href="@Url.Action("PageHome","Home")" class="box-style btn-box d-center">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Job Opens end -->
</body>
</html>
